version: 2

updates:
- package-ecosystem: npm
  directory: "/"
  schedule:
    interval: "weekly"
    day: "sunday"
    time: "04:00"
  cooldown:
    default-days: 4
  open-pull-requests-limit: 10
  groups:
    minor-and-patch-dependencies:
      patterns:
        - "*"
      update-types:
        - "minor"
        - "patch"
    major-dependencies:
      patterns:
        - "*"
      update-types:
        - "major"

- package-ecosystem: "github-actions"
  directory: "/"
  schedule:
    interval: "weekly"
    day: "sunday"
    time: "04:00"
  cooldown:
    default-days: 4
  groups:
    workflows:
      patterns:
        - "*"
